# Example configuration for basic PHP projects
# For projects that don't use a framework routing system

server {
    listen 80;
    server_name example-php.local;
    root /var/www/personal/example-project;

    index index.php index.html;

    charset utf-8;

    location / {
        try_files $uri $uri/ =404;
    }

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }

    location ~ \.php$ {
        fastcgi_pass php74:9000;  # Change PHP version here
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        include fastcgi_params;
        fastcgi_hide_header X-Powered-By;
    }

    location ~ /\.(?!well-known).* {
        deny all;
    }
}
